.app{
    height: 100vh;
}
.section{
    width: 100%;
    height: calc(100vh - 70px);
    background: lightsalmon;
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
   
}
.section::-webkit-scrollbar {
    display: none;
}

.section > *{
    width: 100%;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}
